body{background-color:grey;}

h1 { font-family: 'Asset',cursive;
font-size: 50px;
color:blue;
text-align:center;
margin-bottom: 20px;

}



.image {float:left;
		width:32.33%;
		padding:0.5%;
		}

img{width:100%;}

.caption {width:100%;
		text-align: center;
		background-color: blue;
		color: white;
		font-size:15px;
		margin-top:-10px;
		position:relative;
		}





